* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header {
  z-index: 2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
 * Styles for the deck of cards
 */

.deck {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 3em;
  padding: 1rem;
  width: 85%;

  background: #716f71;
  border-radius: 4px;
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

.deck__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.7rem;
  width: 3.7rem;
  margin: 0.2rem 0.2rem;

  color: #ffffff;
  font-size: 0;

  cursor: pointer;
  border-radius: 5px;
  background: #141214;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck__card.open {
  background: #02b3e4;
  cursor: default;

  animation-name: flipInY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  transform: rotateY(0);
  animation-duration: 0.75s;
}

.deck__card.show {
  font-size: 33px;
}

.deck__card.match {
  font-size: 33px;

  cursor: default;
  background: #e5f720;

  animation-name: rubberBand;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
}

.deck__card.unmatched {
  background: #e2043b;

  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
}

.deck__card.disabled {
  pointer-events: none;
  opacity: 0.9;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  z-index: 2;

  display: flex;
  align-items: center;
  margin-bottom: 10px;

  text-align: left;
}

.timer {
  display: inline-block;
  margin: 0 1rem;
}

/*
 * Styles for congratulations modal
 */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  background: rgba(0, 0, 0, 0.7);
  opacity: 0;

  transition: opacity 0.2s ease;
  visibility: hidden;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 15px;

  text-align: center;

  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.popup {
  position: relative;

  margin: 70px auto;
  padding: 20px;
  width: 85%;

  background: #ffffff;
  border-radius: 5px;

  transition: all 5s ease-in-out;
}

.popup__title {
  margin-top: 0;

  text-align: center;
  color: #333;
}

.popup__button {
  margin: 0 auto;
}

.popup__info {
  max-height: 30%;

  overflow: auto;
  text-align: center;
}

.popup__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup__input {
  margin-bottom: 14px;
}

.show {
  visibility: visible;
  z-index: 10;
  opacity: 100;
}

/* animations */
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/****** Media queries
***************************/

@media (max-width: 320px) {
  .deck {
    width: 85%;
  }

  .deck__card {
    height: 4.7rem;
    width: 4.7rem;
  }
}

/* For Tablets and larger screens
****************/

@media (min-width: 768px) {
  .container {
    font-size: 22px;
  }

  .deck {
    width: 660px;
    height: 680px;
  }

  .deck__card {
    height: 125px;
    width: 125px;
  }

  .popup {
    width: 60%;
  }
}
